 <!-- Footer -->
  <footer id="footer" class="footer" data-bg-color="#1f1f1f">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <img src="images/logo-white-footer.png" alt="">
          <p class="font-12 mt-20 mb-20">剑道是籍由有形与无形的剑理，去完善人格的一种约束性炼习。剑道锻炼我们更加的专注、冷静、理智、果断、温和、有责任心。剑道用她自身魅力带我们逐渐认识自己了解他人。</p>
          <ul class="styled-icons flat medium list-inline mb-40">
		    <li><img src="@routes.Assets.versioned("images/mkendologo_200_fan.png")" alt=""></li>
		  </ul>
		  <!--
		  <ul class="styled-icons flat medium list-inline mb-40">
            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
            <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
          </ul>
		  -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">联络我们</h4>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span>中国深圳</span>
                  <div class="value pull-right">明剑馆</div>
                </li>
                <li class="clearfix"> <span>电话: </span>
                  <div class="value pull-right">13128855200</div>
                </li>
                <li class="clearfix"> <span>电邮: </span>
                  <div class="value pull-right">46561847@@qq.com</div>
                </li>
                <li class="clearfix"> <span>微信公众号: </span>
                  <div class="value pull-right">Openkendo</div>
                </li>
                <li class="clearfix"> <span>馆长微信: </span>
                  <div class="value pull-right">15889489370</div>
                </li>
                <li class="clearfix"> <span>馆长QQ: </span>
                  <div class="value pull-right">46561847</div>
                </li>
                <li class="clearfix"> <span>深圳剑道新人入门咨询QQ群: </span>
                  <div class="value pull-right">38814129</div>
                </li>
                <li class="clearfix"> <span>地址: </span>
                  <div class="value pull-right">福田保税区红棉道4号智立方创新园3楼 明剑馆</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">福田道场</h4>
            <h5 class="widget-title line-bottom-theme-colored-2">道场地址：</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span></span>
                  <div class="value pull-right">福田保税区红棉道4号智立方创新园3楼 明剑馆</div>
                </li>
              </ul>
            </div>
            <h5 class="widget-title line-bottom-theme-colored-2">练习时间：</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span>周一三五晚 新人练习:  </span>
                  <div class="value pull-right">19:30 - 21.30</div>
                </li>
                <li class="clearfix"> <span>周二四晚 进阶练习:  </span>
                  <div class="value pull-right">19:30 - 21.30</div>
                </li>
                <li class="clearfix"> <span>周六上午 比赛练习：</span>
                  <div class="value pull-right">9:30 - 12:30 </div>
                </li>
                <li class="clearfix"> <span>周六下午 少儿班: </span>
                  <div class="value pull-right">14:00 - 16.00</div>
                </li>
                <li class="clearfix"> <span>周六下午 新人练习: </span>
                  <div class="value pull-right">16:30 - 18:30 </div>
                </li>
                <li class="clearfix"> <span>周日上午 进阶练习:</span>
                  <div class="value pull-right">9:30 - 12:30 </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">南山道场</h4>
            <h5 class="widget-title line-bottom-theme-colored-2">道场地址：</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span></span>
                  <div class="value pull-right">南山区南山大道1105号 联华篮球馆（VIP篮球场）</div>
                </li>
              </ul>
            </div>
            <h5 class="widget-title line-bottom-theme-colored-2">练习时间：</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span>周二晚 综合练习:  </span>
                  <div class="value pull-right">20:00 - 22.00</div>
                </li>
                <li class="clearfix"> <span>周四晚 综合练习:  </span>
                  <div class="value pull-right">20:00 - 22.00</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title">关键字</h5>
            <div class="tags">
              <a href="#">剑道</a>
              <a href="#">教育</a>
              <a href="#">课程</a>
              <a href="#">深圳</a>
              <a href="#">学习剑道</a>
              <a href="#">专业剑道场</a>
              <a href="#">深圳</a>
              <a href="#">深圳福田</a>
              <a href="#">深圳南山</a>
              <a href="#">剑道用品</a>
              <a href="#">会员商店</a>
              <a href="#">剑道周边</a>
              <a href="#">日本老师</a>
              <a href="#">剑道是什么</a>
              <a href="#">明剑</a>
			  <a href="#">明剑馆</a>
			  <a href="#">锻炼</a>
			  <a href="#">专注</a>
			  <a href="#">冷静</a>
			  <a href="#">责任</a>
			  <a href="#">挑战</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#2f2f2f">
      <div class="container pt-15 pb-10">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">版权所有 &copy;2019 -深圳市剑友剑道俱乐部明剑馆. </p>
          </div>
          <div class="col-md-6 text-right">
            <div class="font-11 text-black-777 m-0"><a href="http://www.miitbeian.gov.cn" target="_blank">备案号：粤ICP备17117703号-1</a>
			<!-- widget no-border m-0 -->
			<!--
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Help Desk</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Support</a>
                </li>
              </ul>
			  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>