<!-- Section: About -->
<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">从这里开始了解我们</h6>
                    <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">什么是剑道？</h2>
                    <h4 class="text-theme-colored">经常会被问到什么是剑道，剑道有什么用，剑道馆存在有什么价值和意义？摘录世界剑道冠军荣花直辉先生采访录供大家参考吧：</h4>
                    <p>在剑道的训练中，会得到全面而系统的心技体的提高，不仅仅技术和身体，还有精神集中的禅的修习，焦点不仅仅是局限于赢得胜利，更重要的是你能在比赛中学习到，你应该怎样克服自己的缺点。当然你要打败对手，但最重要的一点，是打败自己，超越自我。这意味着在刻苦锻炼的枯燥时刻，艰难和痛苦面前，你不会逃避，不会在重大困难面前低头，直面人生，挑战人生……</p>
                    <a class="btn btn-theme-colored btn-flat btn-lg mt-10 mb-sm-30" href="/aboutus">继续了解明剑馆 →</a>
                </div>
                <div class="col-md-6">
                    <div class="video-popup">
                        <a href="@routes.Assets.versioned("video/mkendoad.mp4")" data-lightbox-gallery="youtube-video" title="Video">
                            <img alt="" src="@routes.Assets.versioned("images/aboutimport555.jpg")" class="img-responsive img-fullwidth">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>