@(currentArticle: Article)
@if(currentArticle == null){
   <p></p>
}else{
    <article class="post clearfix mb-0">
        <div class="entry-header">
            <div class="post-thumb thumb">
                <img src="@routes.Assets.versioned("images/users/" + currentArticle.imgurl)" alt="" class="img-responsive img-fullwidth">
            </div>
        </div>
        <div class="entry-title pt-10 pl-15">
            <h4><a class="text-uppercase" href="/news/:@currentArticle.code">@currentArticle.title</a></h4>
        </div>
        <div class="entry-meta pl-15">
            <ul class="list-inline">
                <li>日期: <span class="text-theme-color-2"> @currentArticle.eventStartDatetime</span></li>
                <li>By: <span class="text-theme-color-2">@currentArticle.createrName</span></li>
            </ul>
        </div>
        <div class="entry-content mt-10">
            <p class="mb-15">@Html(currentArticle.content)</p>
        </div>
    </article>
}