@(article: Article)
<div class="col-sm-6 col-md-4">
    <div class="service-block bg-white">
        <div class="thumb"> <img alt="featured project" src="@routes.Assets.versioned("images/users/" + article.imgurl)" class="img-fullwidth">
            <h4 class="text-white mt-0 mb-0"></h4>
        </div>
        <div class="content text-left flip p-25 pt-0">
            <h4 class="line-bottom mb-10">@article.title</h4>
            <p>@article.content</p>
            <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="page-courses-accounting-technologies.html">查看全文</a>
        </div>
    </div>
</div>