<div class="comments-area">
    <h5 class="comments-title">Comments</h5>
    <ul class="comment-list">
        <li>
            <div class="media comment-author"> <a class="media-left pull-left flip" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
                <div class="media-body">
                    <h5 class="media-heading comment-heading">John Doe says:</h5>
                    <div class="comment-date">23/06/2014</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                    <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-reply text-theme-colored"></i> Replay</a> </div>
            </div>
        </li>
        <li>
            <div class="media comment-author"> <a class="media-left pull-left flip" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
                <div class="media-body">
                    <h5 class="media-heading comment-heading">John Doe says:</h5>
                    <div class="comment-date">23/06/2014</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                    <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-reply text-theme-colored"></i> Replay</a>
                    <div class="clearfix"></div>
                    <div class="media comment-author nested-comment"> <a href="#" class="media-left pull-left flip pt-20"><img alt="" src="http://placehold.it/75x75" class="img-thumbnail"></a>
                        <div class="media-body p-20 bg-lighter">
                            <h5 class="media-heading comment-heading">John Doe says:</h5>
                            <div class="comment-date">23/06/2014</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                            <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-reply text-theme-colored"></i> Replay</a>
                        </div>
                    </div>
                    <div class="media comment-author nested-comment"> <a href="#" class="media-left pull-left flip pt-20"><img alt="" src="http://placehold.it/75x75" class="img-thumbnail"></a>
                        <div class="media-body p-20 bg-lighter">
                            <h5 class="media-heading comment-heading">John Doe says:</h5>
                            <div class="comment-date">23/06/2014</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                            <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-reply text-theme-colored"></i> Replay</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="media comment-author"> <a class="media-left pull-left flip" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
                <div class="media-body">
                    <h5 class="media-heading comment-heading">John Doe says:</h5>
                    <div class="comment-date">23/06/2014</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                    <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-reply text-theme-colored"></i> Replay</a> </div>
            </div>
        </li>
    </ul>
</div>