@(title: String, description: String, price: String)
<div class="row mb-15">
    <div class="col-sm-6 col-md-4">
        <div class="thumb"> <img alt="featured project" src="http://placehold.it/262x210" class="img-fullwidth"></div>
    </div>
    <div class="col-sm-6 col-md-8">
        <h4 class="line-bottom mt-0 mt-sm-20">@title</h4>
        <ul class="review_text list-inline">
            <li><h4 class="mt-0"><span class="text-theme-color-2">Price :</span> $125</h4></li>
            <li>
                <div class="star-rating" title="Rated 4.50 out of 5"><span style="width: 90%;">$price</span></div>
            </li>
        </ul>
        <p>@description</p>
        <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="page-courses-accounting-technologies.html">view details</a>
    </div>
</div>
<hr>
