<!-- Divider: QR Code -->
<section class="divider parallax layer-overlay overlay-theme-colored-9" data-parallax-ratio="0.7">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                  <img alt="" src="@routes.Assets.versioned("images/qrcode/mkendo120.jpg")">
                  <h4 class="text-white text-uppercase mb-0">1 关注公众号</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <img alt="" src="@routes.Assets.versioned("images/qrcode/freeexperience120.png")">
                    <h4 class="text-white text-uppercase mb-0">2 预约免费体验</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <img alt="" src="@routes.Assets.versioned("images/qrcode/wechat120.jpg")">
                    <h4 class="text-white text-uppercase mb-0">3 加馆长微信</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                <div class="funfact text-center">
                    <img alt="" src="@routes.Assets.versioned("images/qrcode/membership120.png")">
                    <h4 class="text-white text-uppercase mb-0">4 报名表</h4>
                </div>
            </div>
        </div>
    </div>
</section>