<div class="products">
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "武风（男）", "90%", "150")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "武风（女）", "90%", "150")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "明心剑性头巾", "100%", "50")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "抗菌汗取", "100%", "80")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "全鹿皮护具 明", "199%", "4000")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "一之濑老师甲手", "100%", "2800")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "熊猫包", "100%", "30")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "邓小汪钥匙扣", "100%", "20")
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
        @widgets.productdesc(false, "明剑雨伞", "100%", "45")
    </div>
</div>