<div class="col-md-4">
    <div class="clearfix">
        <h4 class="line-bottom">Quick Contact:</h4>
    </div>
    <form id="contact-form" class="contact-form-transparent">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Name" id="contact_name" name="contact_name" required="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" placeholder="Enter Email" id="contact_email" name="contact_email" class="form-control" required="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" placeholder="Enter Subject" id="contact_subject" name="contact_subject" class="form-control" required="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea rows="5" placeholder="Enter Message" id="contact_message" name="contact_message" required class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button data-loading-text="Please wait..." class="btn btn-flat btn-dark btn-theme-colored mt-5" type="submit">Send your message</button>
        </div>
    </form>
</div>