@(rolecode:String)
@if(rolecode=="KENDO_MEMBER"){
style="background:#73BF00;border-color:#EEE"
}else if(rolecode=="RESTER_MEMBER"){
style="background:#8C8C00;border-color:#EEE"
}else if(rolecode=="KENDO_TEACHER"){
style="background:#FF8000;border-color:#EEE"
}else if(rolecode=="NEWS_EDITOR"){
style="background:#8F4586;border-color:#EEE"
}else if(rolecode=="SUPER_ADMIN"){
style="background:#8F4586;border-color:#EEE"
}else if(rolecode=="JA_TEACHER"){
style="background:#7373B9;border-color:#EEE"
}else if(rolecode=="JA_MEMBER"){
style="background:#984B4B;border-color:#EEE"
}