@(title: String, description: String, nexttip: String, imgurl: String, detailurl: String)
<div class="col-xs-12 col-sm-6 col-md-3 pb-sm-20">
    <div class="image-box-thum">
        <img class="img-fullwidth" alt="" src="@imgurl">
    </div>
    <div class="image-box-details pt-20 pb-sm-20">
        <h4 class="title text-uppercase line-bottom mt-0">@title</h4>
        <p class="desc mb-10">@description</p>
        <a href="@detailurl" target="_blank" class="btn btn-xs btn-theme-colored">@nexttip</a>
    </div>
</div>