<div class="col-md-6">
    <h3 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>近期的<span class="text-theme-color-2">活动报名</span></h3>
    <article class="post media-post clearfix pb-0 mb-10">
        <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
        <div class="post-right">
            <h4 class="mt-0 mb-5"><a href="#">剑道夏令营开始预报名了</a></h4>
            <ul class="list-inline font-12 mb-5">
                <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2019年7月1日 |</li>
                <li class="pl-5"><i class="fa fa-map-marker mr-5"></i>福保道场</li>
            </ul>
            <p class="mb-0 font-13">期待已久的暑期剑道夏令营开始预报名了！</p>
            <a class="text-theme-colored font-13" href="#">点击立即报名 →</a>
        </div>
    </article>
    <article class="post media-post clearfix pb-0 mb-10">
        <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
        <div class="post-right">
            <h4 class="mt-0 mb-5"><a href="#">明剑馆2019年5月考级报名</a></h4>
            <ul class="list-inline font-12 mb-5">
                <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2019年5月31日 |</li>
                <li class="pl-5"><i class="fa fa-map-marker mr-5"></i>福保道场</li>
            </ul>
            <p class="mb-0 font-13">考级了考级了，坚持考级，剑道精进！</p>
            <a class="text-theme-colored font-13" href="#">点击立即报名 →</a>
        </div>
    </article>
    <article class="post media-post clearfix pb-0 mb-10">
        <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
        <div class="post-right">
            <h4 class="mt-0 mb-5"><a href="#">2019三星杯开始报名了</a></h4>
            <ul class="list-inline font-12 mb-5">
                <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2019年3月10日 |</li>
                <li class="pl-5"><i class="fa fa-map-marker mr-5"></i>香港公园体育馆</li>
            </ul>
            <p class="mb-0 font-13">三星杯比赛全部个人赛，大家积极参加，小朋友们也可以报名哟。</p>
            <a class="text-theme-colored font-13" href="#">点击立即报名 →</a>
        </div>
    </article>
</div>