<!--富文本编辑器-->
<!--<link href="@routes.Assets.versioned("js/summernote/bootstrap.min.css")" rel="stylesheet">
<script src="@routes.Assets.versioned("js/summernote/jquery-3.4.1.min.js")"></script>
<script src="@routes.Assets.versioned("js/jquery-2.2.4.min.js")"></script>
<script src="@routes.Assets.versioned("js/summernote/bootstrap.min.js")"></script>-->
<link href="@routes.Assets.versioned("js/summernote/summernote.min.css")" rel="stylesheet">
<script src="@routes.Assets.versioned("js/summernote/summernote.min.js")"></script>
<script src="@routes.Assets.versioned("js/summernote/lang/summernote-zh-CN.js")"></script>