<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"/>
<!-- Favicon and Touch Icons -->
<link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
<link href="@routes.Assets.versioned("images/apple-touch-icon.png")" rel="apple-touch-icon">
<link href="@routes.Assets.versioned("images/apple-touch-icon-72x72.png")" rel="apple-touch-icon" sizes="72x72">
<link href="@routes.Assets.versioned("images/apple-touch-icon-114x114.png")" rel="apple-touch-icon" sizes="114x114">
<link href="@routes.Assets.versioned("images/apple-touch-icon-144x144.png")" rel="apple-touch-icon" sizes="144x144">
