@(loginedUserInfo:String)
@main("深圳剑道 明剑馆 剑道生活", loginedUserInfo,""){
    @nav.innerheadernav("首页","/","剑道生活")
        <!-- Section: Course gird -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 blog-pull-right">
                        <div class="row">
                            <!--
                           widgets.articledesc("重拾旧时光","当我开始好奇护具之下眼睛里能够看到的世界，那一刻我知道剑道之路于我还很长很长。")
                            widgets.articledesc("优秀剑道人共有的特质","他们无论在做着什么，他们目标清晰，计划性好，精力无限，全力以赴，开心着向前。。。")
                            widgets.articledesc("汪的漫画_武神上身","汪的漫画很好看，很真实，这就是明剑馆的日常！")
                            -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="sidebar sidebar-left mt-sm-30">
                            <!--
                            widgets.search("文章")
                            widgets.latestarticle("文章",Map("重拾旧时光"->"当我开始好奇护具之下眼睛里能够看到的世界，那一刻我知道剑道之路于我还很长很长。","优秀剑道人共有的特质"->"他们无论在做着什么，他们目标清晰，计划性好，精力无限，全力以赴，开心着向前。。。","汪的漫画_武神上身"->"汪的漫画很好看，很真实，这就是明剑馆的日常！"))
                            -->
                            @widgets.photosfromflickr()
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                       @widgets.pagesplitter()
                    </div>
                </div>
            </div>
        </section>
    <!-- end main-content -->

}