@(title: String, content: String, loginedUserInfo:String)
@main("MESSAGE", loginedUserInfo,""){
<!--nav.innerheadernav("首页","/","信息提示")-->
<section>
    <div class="container">

        <!-- Textblock -->
        <div class="esc-heading heading-line-bottom lr-line left-heading">
            <h4>@title</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Html(content)</p>
                <!--
                <p>Lorem ipsum dolor sit amet, <span class="text-highlight">consectetur adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et aliqua. Ut enim ad <span class="text-highlight text-theme-colored">minim veniam</span> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor <span class="text-highlight light">dolore magna</span> sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. Ut <span class="text-highlight bg-theme-colored">enim ad minim veniam, quis</span> nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor dolore magna sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <span class="text-highlight light">eiusmod</span> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                -->
            </div>
        </div>

    </div>
</section>
}
