@(loginedUserInfo:String)
@main("深圳剑道 明剑馆 相册", loginedUserInfo,""){
@nav.innerheadernav("剑道","/kendo","相册") <!--TODO ： kendo页面要补上-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Works Filter -->
                <div class="portfolio-filter font-alt align-center">
                    <a href="#" class="active" data-filter="*">全部</a>
                    <a href="#select1" class="" data-filter=".select1">日常练习</a>
                    <a href="#select2" class="" data-filter=".select2">比赛视频</a>
                    <a href="#select3" class="" data-filter=".select3">其它</a>
                </div>
                <!-- End Works Filter -->

                <!-- Portfolio Gallery Grid -->
                <div id="grid" class="gallery-isotope grid-3 gutter clearfix">

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select1">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select1">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select2">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select3">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select1">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select3">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select2">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select3">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item select1">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/450x250" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="icons-holder">
                                <div class="icons-holder-inner">
                                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                        <a data-lightbox="image" href="http://placehold.it/450x250"><i class="fa fa-plus"></i></a>
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox="image" href="http://placehold.it/450x250">View more</a>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                </div>
                <!-- End Portfolio Gallery Grid -->
            </div>
        </div>
    </div>
</section>

<!-- end main-content -->

}