@(loginedUserInfo:String)
@main("深圳剑道 明剑馆 发送微信消息", loginedUserInfo,"超级管理员"){

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <h4 class="text-gray mt-0 pt-5">发送微信消息</h4>
                <hr>
                <p>发送微信消息给指定的会员。用于面向个人的通知。</p>
                <form name="login-form" class="clearfix" method="post" action=@routes.SendWxMessageController.sendWxMessage()>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_userid">选择用户(暂时填写openid)</label>
                            <input id="form_userid" name="form_userid" class="form-control" type="text" required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_messagetype">消息类型</label>
                            <input id="form_messagetype" name="form_messagetype" class="form-control" type="text" readonly required="true" value="有效期到期提醒">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="form_message">内容模板</label>
                            <textarea id="form_message" name="form_message" class="form-control" rows="5" required="true">
{{first.DATA}}
您的{{name.DATA}}有效期至{{expDate.DATA}}
{{remark.DATA}}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group pull-right mt-10">
                        <input name="form_templateid" hidden="true" value="ggorp-ZvIw-MKxlwGs8rj8eHj7BFCZwJhYZKkh2BgUY"/>
                        <button type="submit" class="btn btn-dark btn-sm">立即发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
}