<div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
          <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
              <li class="active"><a href="/">明剑馆首页</a></li>
			  <li><a href="http://www.dianping.com/shop/58714785">团购体验课</a></li>
			  <li><a href="http://blog.sina.com.cn/u/1930494941">博客</a></li>
          </nav>
        </div>
      </div>
    </div>