@import views.ViewCommon
@(loginedUserInfo:String)
<li><a href="#">网站管理</a>
    <ul class="dropdown">
        @if(ViewCommon.isAuthorized(loginedUserInfo,"宣传","超级管理员")){<li><a href="/postnews">发布新闻</a></li>}
        @if(ViewCommon.isAuthorized(loginedUserInfo,"超级管理员")){<li><a href="/memberlist/ALL">会员管理</a></li>}
        @if(ViewCommon.isAuthorized(loginedUserInfo,"超级管理员")){<li><a href="/bookinglist/ALL">预约管理</a></li>}
        @if(ViewCommon.isAuthorized(loginedUserInfo,"超级管理员")){<li><a href="/sendwxmessage">发送微信消息</a></li>}
        @if(ViewCommon.isAuthorized(loginedUserInfo,"")){<li><a href="/logout">退出</a></li>}
    </ul>
</li>